* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}



.tower {
    position: relative;
    z-index: 0;
    height: auto;
    background-color:rgb(8, 8, 14);
} 

.tower:after {
    background-image: url("assets/brick.png");
    background-repeat: repeat;
    background-size: 500px, 500px;
    display: block;
    -webkit-mask-image: linear-gradient(transparent 0%, black 30%);
    content: "";
    z-index: -1;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;  
}

 .tower-shell{
    margin: 0 auto;
}


.poem {
    color: white;
    padding-top: 30px;
    opacity: 100%;
    line-height: 4rem;
    text-align: center;
}

 .num {
    font-family: 'BIZ UDMincho', serif;
    font-size: 2rem;
}

.stanza {
    font-family: 'Fondamento', cursive;
    font-size: 2rem;
} 

h1 {
    font-family: 'Fondamento', cursive;
    text-transform: uppercase;
    font-size: 3rem;
  }

  h2 {
    font-family: 'Fondamento', cursive;
  }

.thorns {
    position: relative;
    z-index: 0;
    height: auto;
}
.thorns:before {
    content: "";
    z-index: -1;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;  
    background-image: url("assets/vines.png");
    background-repeat: repeat;
    background-size: 300px;
    -webkit-mask-image: radial-gradient(ellipse 30% 100% at left bottom, black 0, transparent 100%), radial-gradient(ellipse 30% 100% at right bottom, black 0, transparent 100%)

}

.roses {
    position: relative;
    z-index: 0;
}

.roses:before {
    content: "";
    z-index: -1;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;  
    background-image: url("assets/roses.png");
    background-repeat: repeat;
    background-size: 300px;
    -webkit-mask-image: radial-gradient(ellipse 30% 100% at left bottom, black 0, transparent 100%), radial-gradient(ellipse 30% 100% at right bottom, black 0, transparent 100%);
}

.roses:after {
    content: "";
    z-index: -2;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;  
    background-image: url("assets/vines.png");
    background-repeat: repeat;
    background-size: 300px;
    -webkit-mask-image: linear-gradient(to right, black 0%, transparent 30%, transparent 70%, black 100%);

}

.roses, .thorns {
    display: flex;
    flex-direction: column;
  }

 